.Skeleton {
  background: #7552A8;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  vertical-align:middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skeleton::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(89deg, #7653ac, #8d6abe);
  background-size: 99% 100%;
  animation-name: gradient-animation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  filter: blur(5px);
}

.LightSkeleton {
  background: #ffffff;
}

.LightSkeleton::before {
  background-image: linear-gradient(89deg, #ebeaff, #cad2ff);
}

@keyframes gradient-animation {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
