.Modal {
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  box-sizing: border-box;
  border-radius: 9px;
}

/* @media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
} */

.ModalOpen {
  animation: openModal .4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal .6s ease-out forwards;
}

@keyframes openModal {
  0% {
      opacity: 0;
      transform: translateY(-5vh);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  50% {
      opacity: .8;
      transform: translateY(1vh);
  }
  100% {
      opacity: 0;
      transform: translateY(-6vh);
  }
}