.Modal {
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 70%;
  max-height: 97%;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 6px 1px rgba(114, 46, 167, 0.36);
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  box-sizing: border-box;
  border-radius: 9px;
  overflow: scroll;
}

.ModalHeaderWrapper {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;
  box-shadow: 0px -6px 4px 9px rgba(0,0,0,0.14);
}

.ModalHeader > div {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.15px;
  color: #111D45;
}

.ModalHeader > button {
  margin: -10px -10px 0 0;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(114, 46, 167, 0.08);
  font-weight: 600;
  font-size: 18px;
  color: #111D45;
  cursor: pointer;
}

.ModalBody {
  padding: 16px;
}

.ModalFooterWrapper {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  z-index: 10;
}

.ModalFooter {
  margin-top: 50px;
  display: flex;
  position: sticky;
  bottom: 16px;
  padding: 2px;
}

.ModalFooter button:nth-child(1) {
  margin-left: 8px;
  margin-right: 6px;
}

.ModalFooter button:nth-child(2) {
  margin-right: 8px;
  margin-left: 6px;
}

/* @media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
} */

.ModalOpen {
  animation: openModal .4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal .6s ease-out forwards;
}

@keyframes openModal {
  0% {
      opacity: 0;
      transform: translateY(-5vh);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  50% {
      opacity: .8;
      transform: translateY(1vh);
  }
  100% {
      opacity: 0;
      transform: translateY(-6vh);
  }
}