.NavigationItem {
  text-decoration: none;
  box-sizing: border-box;
}

.NavigationItem a {
  color: #7552A8;
  text-decoration: none;
  margin: 0 10px 0 10px;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  padding-left: 21px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.NavigationItem a.active {
  background-color: #F5D3D3;
}