.TopNavigation {
  background-color: #7552A8;
  position: sticky;
  top: 0;
  z-index: 50;
}

.Header {
  text-align: center;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.HeaderDash {
  background-color: #ffffff;
  width: 22px;
  height: 1px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 49%;
  bottom: -1px;
  transform: translate(-50%, -50%);
}

.NavigationItem {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.NavigationItems {
  margin: 12px 0 12px 0;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
}

.BurgerIcon > button {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  padding: 0;
}
