.SideDrawer {
  top: 0;
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  overflow: scroll;
  overflow-x: hidden;

}

.SideDrawer::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.HeaderSection {
  background-image: url("../../../assets/side-drawer-image.png");
  height: 181px;
  background-size: cover; 
  background-repeat: no-repeat;
}

.CircleImage img {
  margin: 30px 0 0 31px;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
}

.HeaderSection .Name {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.11px;
  color: #ffffff;
  margin: 21px 0 0 31px;
}

.HeaderSection .Email {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.25px;
  color: #ffffff;
  margin: 5px 0 0 31px;
}

.PageList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 201px);
}

.Logout {
  display: inline-block;
  height: 100%;
  margin-top: 0px;
  bottom: 0;
  position: relative;
}

.Logout button {
  position: absolute;
  bottom: 0;
  border: none;
  margin-left: 20px;
  font-weight: 600;
  color: #7552A8;
  padding: 5px 10px;
  cursor: pointer;
}

.SideDrawerOpen {
  animation: openSideDrawer 0.3s ease-out forwards;
}

.SideDrawerClosed {
  animation: closeSideDrawer 0.3s ease-out forwards;
}

@keyframes openSideDrawer {
  0% {
      opacity: 0.8;
      transform: translateX(-60vw);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes closeSideDrawer {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(-60vW);
  }
}