.Login {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.UpperSection {
  display: inline-block;
  background-color: #7552A8;
  top: 0;
  left: 0;
  width: 100%;
  height: 63.85%;
  min-height: 400px;
  position: relative;
}

.HeaderText {
  color: #fff;
  text-align: center;
}

.HeaderText h1 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  margin-top: 17px;
}

.HeaderText h2 {
  font-weight: 600;
  font-size: 48px;
  left: auto;
  margin-top: 33px;
  /* margin-top: 73px; */
}

.Card {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 40px 0px 0px 40px;
  width: 84vw;
  height: 47vh;
  min-height: 390px;
  margin-left: auto;
  margin-top: 7vh;
  padding: 30px 39px 20px 39px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

form {
  width: 100%;
}

.InputWrapper {
  width: 100%;
}

.ButtonWrapper {
  box-sizing: border-box;
  width: calc(100% - (49px * 2));
  display: inline-block;
  position: absolute; 
  bottom: 38px;
}

.BottomSection {
  margin-top: auto;
  text-align: center;
}

.BottomSection p {
  color: #aaa;
  font-weight: 600;
}

.SignOption {
  color: #999;
}

.OptionClickable {
  color: #7552A8;
  cursor: pointer;
  font: inherit;
  outline: none;
  border: none;
  padding: 0;
  display: inline;
}

@media screen and (min-height: 800px) {
  .HeaderText h2 {
    margin-top: 73px;
  }

  .Card {
    margin-top: 12vh;
    padding: 40px 49px 28px 49px;
  }
}

@media screen and (orientation:landscape) 
and (max-width: 1000px) {
  .Card {
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .BottomSection {
    margin-top: 200px;
  }
}

