.TransactionHandler form {
  margin-top: 5px;
}

.TransactionHandler form button {
  margin-top: 20px;
}

.ChooseTransWrapper {
  margin-top: 50px;
  display: flex;
  position: sticky;
  bottom: 16px;
  background-color: aqua;
}

.ChooseTransWrapper button {
  margin: 0 10px;
}